.wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 3vh;
	gap: 5vw;
	flex-wrap: wrap;
}

.imageWrapper {
	width: 40vw;
	max-width: 450px;
}

.chartWrapper {
	width: 40vw;
	max-width: 500px;
	aspect-ratio: 1 / 1;
}

@media (max-width: 600px) {
	.wrapper {
		flex-direction: column;
		gap: 4vh;
		padding: 2vh 0;
	}
	.imageWrapper,
	.chartWrapper {
		width: 90vw;
		max-width: none;
	}
	.chartWrapper {
		aspect-ratio: 1 / 1;
		width: 100vw;
		min-width: 0;
		max-width: none;
		margin: 0 auto;
	}
}
